In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("heart.csv")
data

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,M,TA,110,264,0,Normal,132,N,1.2,Flat,1
914,68,M,ASY,144,193,1,Normal,141,N,3.4,Flat,1
915,57,M,ASY,130,131,0,Normal,115,Y,1.2,Flat,1
916,57,F,ATA,130,236,0,LVH,174,N,0.0,Flat,1
917,38,M,NAP,138,175,0,Normal,173,N,0.0,Up,0

In [3]:
data['Sex'] = data['Sex'].apply(lambda x: int(x=='M')).astype('int8', errors='raise')

In [4]:
c_p_t = np.unique(data['ChestPainType'])
for i in c_p_t:
    data[i] = data['ChestPainType'].apply(lambda x: int(x == i)).astype('int8')

data

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease,ASY,ATA,NAP,TA
0,40,1,ATA,140,289,0,Normal,172,N,0.0,Up,0,0,1,0,0
1,49,0,NAP,160,180,0,Normal,156,N,1.0,Flat,1,0,0,1,0
2,37,1,ATA,130,283,0,ST,98,N,0.0,Up,0,0,1,0,0
3,48,0,ASY,138,214,0,Normal,108,Y,1.5,Flat,1,1,0,0,0
4,54,1,NAP,150,195,0,Normal,122,N,0.0,Up,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,1,TA,110,264,0,Normal,132,N,1.2,Flat,1,0,0,0,1
914,68,1,ASY,144,193,1,Normal,141,N,3.4,Flat,1,1,0,0,0
915,57,1,ASY,130,131,0,Normal,115,Y,1.2,Flat,1,1,0,0,0
916,57,0,ATA,130,236,0,LVH,174,N,0.0,Flat,1,0,1,0,0
917,38,1,NAP,138,175,0,Normal,173,N,0.0,Up,0,0,0,1,0

In [5]:
# pd.concat([data, pd.get_dummies('ChestPainType', dtype='int8')], axis=0)

In [6]:
data.drop('ChestPainType', axis=1, inplace = True)

In [7]:
# data.describe()
data

,Age,Sex,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease,ASY,ATA,NAP,TA
0,40,1,140,289,0,Normal,172,N,0.0,Up,0,0,1,0,0
1,49,0,160,180,0,Normal,156,N,1.0,Flat,1,0,0,1,0
2,37,1,130,283,0,ST,98,N,0.0,Up,0,0,1,0,0
3,48,0,138,214,0,Normal,108,Y,1.5,Flat,1,1,0,0,0
4,54,1,150,195,0,Normal,122,N,0.0,Up,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,1,110,264,0,Normal,132,N,1.2,Flat,1,0,0,0,1
914,68,1,144,193,1,Normal,141,N,3.4,Flat,1,1,0,0,0
915,57,1,130,131,0,Normal,115,Y,1.2,Flat,1,1,0,0,0
916,57,0,130,236,0,LVH,174,N,0.0,Flat,1,0,1,0,0
917,38,1,138,175,0,Normal,173,N,0.0,Up,0,0,0,1,0

In [8]:
data.isnull().sum()

Age               0
Sex               0
RestingBP         0
Cholesterol       0
FastingBS         0
RestingECG        0
MaxHR             0
ExerciseAngina    0
Oldpeak           0
ST_Slope          0
HeartDisease      0
ASY               0
ATA               0
NAP               0
TA                0
dtype: int64

In [9]:
# print(np.unique(data['RestingECG']))

data = pd.concat([data, pd.get_dummies(data['RestingECG'], dtype='int8')], axis=1)

In [10]:
data.drop('RestingECG', axis=1, inplace=True)
data

,Age,Sex,RestingBP,Cholesterol,FastingBS,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease,ASY,ATA,NAP,TA,LVH,Normal,ST
0,40,1,140,289,0,172,N,0.0,Up,0,0,1,0,0,0,1,0
1,49,0,160,180,0,156,N,1.0,Flat,1,0,0,1,0,0,1,0
2,37,1,130,283,0,98,N,0.0,Up,0,0,1,0,0,0,0,1
3,48,0,138,214,0,108,Y,1.5,Flat,1,1,0,0,0,0,1,0
4,54,1,150,195,0,122,N,0.0,Up,0,0,0,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,1,110,264,0,132,N,1.2,Flat,1,0,0,0,1,0,1,0
914,68,1,144,193,1,141,N,3.4,Flat,1,1,0,0,0,0,1,0
915,57,1,130,131,0,115,Y,1.2,Flat,1,1,0,0,0,0,1,0
916,57,0,130,236,0,174,N,0.0,Flat,1,0,1,0,0,1,0,0
917,38,1,138,175,0,173,N,0.0,Up,0,0,0,1,0,0,1,0

In [11]:
data['ExerciseAngina'] = data['ExerciseAngina'].apply(lambda x: int(x=='Y')).astype('int8', errors='raise')
data['ST_Slope'] = data['ST_Slope'].apply(lambda x: int(x=='Up')).astype('int8', errors='raise')

In [12]:
data['RestingBP'] = data['RestingBP'] / np.max(data['RestingBP'])
data['Cholesterol'] = data['Cholesterol'] / np.max(data['Cholesterol'])
data['MaxHR'] = data['MaxHR'] / np.max(data['MaxHR'])
data['Age'] = data['Age'] / np.mean(data['Age'])

In [13]:
data

,Age,Sex,RestingBP,Cholesterol,FastingBS,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease,ASY,ATA,NAP,TA,LVH,Normal,ST
0,0.747511,1,0.70,0.479270,0,0.851485,0,0.0,1,0,0,1,0,0,0,1,0
1,0.915701,0,0.80,0.298507,0,0.772277,0,1.0,0,1,0,0,1,0,0,1,0
2,0.691448,1,0.65,0.469320,0,0.485149,0,0.0,1,0,0,1,0,0,0,0,1
3,0.897014,0,0.69,0.354892,0,0.534653,1,1.5,0,1,1,0,0,0,0,1,0
4,1.009140,1,0.75,0.323383,0,0.603960,0,0.0,1,0,0,0,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
913,0.840950,1,0.55,0.437811,0,0.653465,0,1.2,0,1,0,0,0,1,0,1,0
914,1.270769,1,0.72,0.320066,1,0.698020,0,3.4,0,1,1,0,0,0,0,1,0
915,1.065204,1,0.65,0.217247,0,0.569307,1,1.2,0,1,1,0,0,0,0,1,0
916,1.065204,0,0.65,0.391376,0,0.861386,0,0.0,0,1,0,1,0,0,1,0,0
917,0.710136,1,0.69,0.290216,0,0.856436,0,0.0,1,0,0,0,1,0,0,1,0

In [14]:
result = data['HeartDisease']
data.drop('HeartDisease', axis = 1, inplace = True)
data = pd.concat([data, result], axis=1)

In [15]:
data

,Age,Sex,RestingBP,Cholesterol,FastingBS,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,ASY,ATA,NAP,TA,LVH,Normal,ST,HeartDisease
0,0.747511,1,0.70,0.479270,0,0.851485,0,0.0,1,0,1,0,0,0,1,0,0
1,0.915701,0,0.80,0.298507,0,0.772277,0,1.0,0,0,0,1,0,0,1,0,1
2,0.691448,1,0.65,0.469320,0,0.485149,0,0.0,1,0,1,0,0,0,0,1,0
3,0.897014,0,0.69,0.354892,0,0.534653,1,1.5,0,1,0,0,0,0,1,0,1
4,1.009140,1,0.75,0.323383,0,0.603960,0,0.0,1,0,0,1,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
913,0.840950,1,0.55,0.437811,0,0.653465,0,1.2,0,0,0,0,1,0,1,0,1
914,1.270769,1,0.72,0.320066,1,0.698020,0,3.4,0,1,0,0,0,0,1,0,1
915,1.065204,1,0.65,0.217247,0,0.569307,1,1.2,0,1,0,0,0,0,1,0,1
916,1.065204,0,0.65,0.391376,0,0.861386,0,0.0,0,0,1,0,0,1,0,0,1
917,0.710136,1,0.69,0.290216,0,0.856436,0,0.0,1,0,0,1,0,0,1,0,0

In [16]:
data.to_csv('clean_data.csv', index = False)